<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>connectionFrames</key>
	<array>
		<dict>
			<key>connections</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{14, -15}</string>
				</dict>
				<key>foot_LEFT.png</key>
				<dict>
					<key>angleOff</key>
					<real>92.448226928710938</real>
					<key>bone</key>
					<string>leftFoot</string>
					<key>connAngle</key>
					<real>12.602165222167969</real>
					<key>posOff</key>
					<string>{4, 0}</string>
				</dict>
				<key>foot_RIGHT.png</key>
				<dict>
					<key>angleOff</key>
					<real>86.02459716796875</real>
					<key>bone</key>
					<string>rightFoot</string>
					<key>connAngle</key>
					<real>10.0872802734375</real>
					<key>posOff</key>
					<string>{4, -1}</string>
				</dict>
				<key>forearm_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>91.532829284667969</real>
					<key>bone</key>
					<string>leftLowerArm</string>
					<key>connAngle</key>
					<real>77.498603820800781</real>
					<key>posOff</key>
					<string>{0, 9}</string>
				</dict>
				<key>forearm_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>186.57774353027344</real>
					<key>bone</key>
					<string>rightLowerArm</string>
					<key>connAngle</key>
					<real>-8.583984375</real>
					<key>posOff</key>
					<string>{1, 10}</string>
				</dict>
				<key>gun-belt.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{1, -10}</string>
				</dict>
				<key>gun-holster.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{-12, -7}</string>
				</dict>
				<key>gun.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{-16, -12}</string>
				</dict>
				<key>hair.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{5, -19}</string>
				</dict>
				<key>hand_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>91.382034301757812</real>
					<key>bone</key>
					<string>leftHand</string>
					<key>connAngle</key>
					<real>28.28668212890625</real>
					<key>posOff</key>
					<string>{2, 3}</string>
				</dict>
				<key>hand_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>178.4052734375</real>
					<key>bone</key>
					<string>rightHand</string>
					<key>connAngle</key>
					<real>-39.3154296875</real>
					<key>posOff</key>
					<string>{5, 4}</string>
				</dict>
				<key>hat.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.405136108398438</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>-0.6160125732421875</real>
					<key>posOff</key>
					<string>{5, -33}</string>
				</dict>
				<key>head.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{6, -15}</string>
				</dict>
				<key>leg_lower_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>181.529052734375</real>
					<key>bone</key>
					<string>leftLowerLeg</string>
					<key>connAngle</key>
					<real>15.99365234375</real>
					<key>posOff</key>
					<string>{-4, 12}</string>
				</dict>
				<key>leg_lower_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>184.20648193359375</real>
					<key>bone</key>
					<string>rightLowerLeg</string>
					<key>connAngle</key>
					<real>4.709320068359375</real>
					<key>posOff</key>
					<string>{-3, 10}</string>
				</dict>
				<key>leg_upper_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>177.68547058105469</real>
					<key>bone</key>
					<string>leftUpperLeg</string>
					<key>connAngle</key>
					<real>-2.9243621826171875</real>
					<key>posOff</key>
					<string>{0, 9}</string>
				</dict>
				<key>leg_upper_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>185.11367797851562</real>
					<key>bone</key>
					<string>rightUpperLeg</string>
					<key>connAngle</key>
					<real>-5.882843017578125</real>
					<key>posOff</key>
					<string>{1, 8}</string>
				</dict>
				<key>mouth.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{16, -5}</string>
				</dict>
				<key>muzzleFlash.png</key>
				<dict>
					<key>angleOff</key>
					<real>175.97360229492188</real>
					<key>bone</key>
					<string>rightHand</string>
					<key>connAngle</key>
					<real>-36.883758544921875</real>
					<key>posOff</key>
					<string>{27, 16}</string>
				</dict>
				<key>neck_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>-0.91564178466796875</real>
					<key>bone</key>
					<string>neck</string>
					<key>connAngle</key>
					<real>-14.041770935058594</real>
					<key>posOff</key>
					<string>{-2, -7}</string>
				</dict>
				<key>pelvis.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{0, -4}</string>
				</dict>
				<key>shoulder_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>155.27517700195312</real>
					<key>bone</key>
					<string>leftUpperArm</string>
					<key>connAngle</key>
					<real>10.718048095703125</real>
					<key>posOff</key>
					<string>{1, 13}</string>
				</dict>
				<key>shoulder_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>225.50962829589844</real>
					<key>bone</key>
					<string>rightUpperArm</string>
					<key>connAngle</key>
					<real>-38.1767578125</real>
					<key>posOff</key>
					<string>{-1, 13}</string>
				</dict>
				<key>tennisBall.png</key>
				<dict>
					<key>angleOff</key>
					<real>0.0</real>
					<key>connAngle</key>
					<real>37.828788757324219</real>
					<key>posOff</key>
					<string>{0, 0}</string>
				</dict>
				<key>torso_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{3, -33}</string>
				</dict>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>metadata</key>
	<dict>
		<key>app</key>
		<string>SpriteHelper</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>version</key>
		<real>1</real>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>name</key>
	<string>StrongWalk</string>
	<key>playMode</key>
	<integer>1</integer>
	<key>positionFrames</key>
	<array>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{1, 5}</string>
				<key>head</key>
				<string>{7, 86}</string>
				<key>leftFoot</key>
				<string>{-8, -45}</string>
				<key>leftHand</key>
				<string>{35, 24}</string>
				<key>leftLowerArm</key>
				<string>{26, 23}</string>
				<key>leftLowerLeg</key>
				<string>{-20, -35}</string>
				<key>leftPelvis</key>
				<string>{9, 2}</string>
				<key>leftShoulder</key>
				<string>{8, 50}</string>
				<key>leftUpperArm</key>
				<string>{12, 30}</string>
				<key>leftUpperLeg</key>
				<string>{-3, -19}</string>
				<key>neck</key>
				<string>{-1, 63}</string>
				<key>rightFoot</key>
				<string>{29, -35}</string>
				<key>rightHand</key>
				<string>{-32, 3}</string>
				<key>rightLowerArm</key>
				<string>{-35, 14}</string>
				<key>rightLowerLeg</key>
				<string>{20, -40}</string>
				<key>rightPelvis</key>
				<string>{-5, 2}</string>
				<key>rightShoulder</key>
				<string>{-14, 51}</string>
				<key>rightUpperArm</key>
				<string>{-30, 33}</string>
				<key>rightUpperLeg</key>
				<string>{9, -16}</string>
				<key>torso</key>
				<string>{-2, 54}</string>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{1, 2}</string>
				<key>head</key>
				<string>{9, 83}</string>
				<key>leftFoot</key>
				<string>{-13, -46}</string>
				<key>leftHand</key>
				<string>{40, 26}</string>
				<key>leftLowerArm</key>
				<string>{31, 22}</string>
				<key>leftLowerLeg</key>
				<string>{-23, -34}</string>
				<key>leftPelvis</key>
				<string>{9, 0}</string>
				<key>leftShoulder</key>
				<string>{10, 49}</string>
				<key>leftUpperArm</key>
				<string>{18, 30}</string>
				<key>leftUpperLeg</key>
				<string>{-4, -21}</string>
				<key>neck</key>
				<string>{2, 61}</string>
				<key>rightFoot</key>
				<string>{21, -43}</string>
				<key>rightHand</key>
				<string>{-40, 7}</string>
				<key>rightLowerArm</key>
				<string>{-39, 19}</string>
				<key>rightLowerLeg</key>
				<string>{12, -44}</string>
				<key>rightPelvis</key>
				<string>{-4, -1}</string>
				<key>rightShoulder</key>
				<string>{-12, 51}</string>
				<key>rightUpperArm</key>
				<string>{-32, 37}</string>
				<key>rightUpperLeg</key>
				<string>{12, -17}</string>
				<key>torso</key>
				<string>{0, 52}</string>
			</dict>
			<key>time</key>
			<real>0.13024052977561951</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{2, 10}</string>
				<key>head</key>
				<string>{11, 90}</string>
				<key>leftFoot</key>
				<string>{-15, -27}</string>
				<key>leftHand</key>
				<string>{22, 14}</string>
				<key>leftLowerArm</key>
				<string>{17, 21}</string>
				<key>leftLowerLeg</key>
				<string>{-11, -12}</string>
				<key>leftPelvis</key>
				<string>{10, 8}</string>
				<key>leftShoulder</key>
				<string>{9, 53}</string>
				<key>leftUpperArm</key>
				<string>{8, 33}</string>
				<key>leftUpperLeg</key>
				<string>{12, -16}</string>
				<key>neck</key>
				<string>{2, 69}</string>
				<key>rightFoot</key>
				<string>{13, -43}</string>
				<key>rightHand</key>
				<string>{3, 6}</string>
				<key>rightLowerArm</key>
				<string>{-7, 13}</string>
				<key>rightLowerLeg</key>
				<string>{4, -41}</string>
				<key>rightPelvis</key>
				<string>{-3, 7}</string>
				<key>rightShoulder</key>
				<string>{-11, 54}</string>
				<key>rightUpperArm</key>
				<string>{-15, 30}</string>
				<key>rightUpperLeg</key>
				<string>{3, -14}</string>
				<key>torso</key>
				<string>{0, 60}</string>
			</dict>
			<key>time</key>
			<real>0.24766518175601959</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{4, 12}</string>
				<key>head</key>
				<string>{11, 92}</string>
				<key>leftFoot</key>
				<string>{28, -37}</string>
				<key>leftHand</key>
				<string>{-4, 13}</string>
				<key>leftLowerArm</key>
				<string>{-7, 22}</string>
				<key>leftLowerLeg</key>
				<string>{14, -31}</string>
				<key>leftPelvis</key>
				<string>{12, 9}</string>
				<key>leftShoulder</key>
				<string>{8, 54}</string>
				<key>leftUpperArm</key>
				<string>{0, 35}</string>
				<key>leftUpperLeg</key>
				<string>{26, -11}</string>
				<key>neck</key>
				<string>{2, 70}</string>
				<key>rightFoot</key>
				<string>{-5, -42}</string>
				<key>rightHand</key>
				<string>{18, 13}</string>
				<key>rightLowerArm</key>
				<string>{7, 18}</string>
				<key>rightLowerLeg</key>
				<string>{-14, -38}</string>
				<key>rightPelvis</key>
				<string>{-1, 8}</string>
				<key>rightUpperArm</key>
				<string>{-8, 30}</string>
				<key>rightUpperLeg</key>
				<string>{-3, -14}</string>
				<key>torso</key>
				<string>{-1, 61}</string>
			</dict>
			<key>time</key>
			<real>0.37277719378471375</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{1, 3}</string>
				<key>head</key>
				<string>{8, 82}</string>
				<key>leftFoot</key>
				<string>{48, -38}</string>
				<key>leftHand</key>
				<string>{-20, 9}</string>
				<key>leftLowerArm</key>
				<string>{-17, 18}</string>
				<key>leftLowerLeg</key>
				<string>{32, -41}</string>
				<key>leftPelvis</key>
				<string>{9, 0}</string>
				<key>leftShoulder</key>
				<string>{5, 45}</string>
				<key>leftUpperArm</key>
				<string>{-5, 27}</string>
				<key>leftUpperLeg</key>
				<string>{23, -20}</string>
				<key>neck</key>
				<string>{-1, 61}</string>
				<key>rightFoot</key>
				<string>{-32, -41}</string>
				<key>rightHand</key>
				<string>{26, 31}</string>
				<key>rightLowerArm</key>
				<string>{16, 25}</string>
				<key>rightLowerLeg</key>
				<string>{-39, -35}</string>
				<key>rightPelvis</key>
				<string>{-4, -1}</string>
				<key>rightShoulder</key>
				<string>{-14, 45}</string>
				<key>rightUpperArm</key>
				<string>{-3, 23}</string>
				<key>rightUpperLeg</key>
				<string>{-17, -19}</string>
				<key>torso</key>
				<string>{-4, 52}</string>
			</dict>
			<key>time</key>
			<real>0.50173830986022949</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{0, -3}</string>
				<key>head</key>
				<string>{5, 77}</string>
				<key>leftFoot</key>
				<string>{37, -45}</string>
				<key>leftHand</key>
				<string>{-10, 1}</string>
				<key>leftLowerArm</key>
				<string>{-5, 9}</string>
				<key>leftLowerLeg</key>
				<string>{21, -44}</string>
				<key>leftPelvis</key>
				<string>{8, -6}</string>
				<key>leftShoulder</key>
				<string>{3, 39}</string>
				<key>leftUpperArm</key>
				<string>{6, 19}</string>
				<key>leftUpperLeg</key>
				<string>{27, -21}</string>
				<key>neck</key>
				<string>{-4, 55}</string>
				<key>rightFoot</key>
				<string>{-36, -41}</string>
				<key>rightHand</key>
				<string>{22, 5}</string>
				<key>rightLowerArm</key>
				<string>{11, 8}</string>
				<key>rightLowerLeg</key>
				<string>{-40, -32}</string>
				<key>rightPelvis</key>
				<string>{-6, -6}</string>
				<key>rightShoulder</key>
				<string>{-16, 40}</string>
				<key>rightUpperArm</key>
				<string>{-6, 18}</string>
				<key>rightUpperLeg</key>
				<string>{-14, -26}</string>
				<key>torso</key>
				<string>{-6, 46}</string>
			</dict>
			<key>time</key>
			<real>0.62749004364013672</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{0, 7}</string>
				<key>head</key>
				<string>{11, 87}</string>
				<key>leftFoot</key>
				<string>{19, -46}</string>
				<key>leftHand</key>
				<string>{16, 7}</string>
				<key>leftLowerArm</key>
				<string>{10, 14}</string>
				<key>leftLowerLeg</key>
				<string>{4, -43}</string>
				<key>leftPelvis</key>
				<string>{8, 4}</string>
				<key>leftShoulder</key>
				<string>{9, 50}</string>
				<key>leftUpperArm</key>
				<string>{11, 29}</string>
				<key>leftUpperLeg</key>
				<string>{6, -20}</string>
				<key>neck</key>
				<string>{3, 65}</string>
				<key>rightFoot</key>
				<string>{-5, -34}</string>
				<key>rightHand</key>
				<string>{5, 4}</string>
				<key>rightLowerArm</key>
				<string>{-4, 10}</string>
				<key>rightLowerLeg</key>
				<string>{-10, -25}</string>
				<key>rightPelvis</key>
				<string>{-5, 4}</string>
				<key>rightShoulder</key>
				<string>{-11, 52}</string>
				<key>rightUpperArm</key>
				<string>{-13, 28}</string>
				<key>rightUpperLeg</key>
				<string>{12, -10}</string>
				<key>torso</key>
				<string>{0, 56}</string>
			</dict>
			<key>time</key>
			<real>0.75029259920120239</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>leftFoot</key>
				<string>{-1, -48}</string>
				<key>leftHand</key>
				<string>{29, 15}</string>
				<key>leftLowerArm</key>
				<string>{20, 15}</string>
				<key>leftLowerLeg</key>
				<string>{-12, -38}</string>
				<key>leftShoulder</key>
				<string>{10, 49}</string>
				<key>leftUpperArm</key>
				<string>{14, 29}</string>
				<key>leftUpperLeg</key>
				<string>{0, -19}</string>
				<key>neck</key>
				<string>{5, 65}</string>
				<key>rightFoot</key>
				<string>{23, -38}</string>
				<key>rightHand</key>
				<string>{-10, 1}</string>
				<key>rightLowerArm</key>
				<string>{-18, 10}</string>
				<key>rightLowerLeg</key>
				<string>{14, -33}</string>
				<key>rightShoulder</key>
				<string>{-10, 52}</string>
				<key>rightUpperArm</key>
				<string>{-18, 29}</string>
				<key>rightUpperLeg</key>
				<string>{14, -6}</string>
				<key>torso</key>
				<string>{1, 56}</string>
			</dict>
			<key>time</key>
			<real>0.87953561544418335</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{1, 5}</string>
				<key>head</key>
				<string>{7, 86}</string>
				<key>leftFoot</key>
				<string>{-8, -45}</string>
				<key>leftHand</key>
				<string>{35, 24}</string>
				<key>leftLowerArm</key>
				<string>{26, 23}</string>
				<key>leftLowerLeg</key>
				<string>{-20, -35}</string>
				<key>leftPelvis</key>
				<string>{9, 2}</string>
				<key>leftShoulder</key>
				<string>{8, 50}</string>
				<key>leftUpperArm</key>
				<string>{12, 30}</string>
				<key>leftUpperLeg</key>
				<string>{-3, -19}</string>
				<key>neck</key>
				<string>{-1, 63}</string>
				<key>rightFoot</key>
				<string>{29, -35}</string>
				<key>rightHand</key>
				<string>{-32, 3}</string>
				<key>rightLowerArm</key>
				<string>{-35, 14}</string>
				<key>rightLowerLeg</key>
				<string>{20, -40}</string>
				<key>rightPelvis</key>
				<string>{-5, 2}</string>
				<key>rightShoulder</key>
				<string>{-14, 51}</string>
				<key>rightUpperArm</key>
				<string>{-30, 33}</string>
				<key>rightUpperLeg</key>
				<string>{9, -16}</string>
				<key>torso</key>
				<string>{-2, 54}</string>
			</dict>
			<key>time</key>
			<real>1</real>
		</dict>
	</array>
	<key>skinFrames</key>
	<array>
		<dict>
			<key>skins</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<string>eyes_OPEN.png</string>
				<key>foot_LEFT.png</key>
				<string>foot_LEFT.png</string>
				<key>foot_RIGHT.png</key>
				<string>foot_RIGHT.png</string>
				<key>forearm_L_outline.png</key>
				<string>forearm_L_outline.png</string>
				<key>forearm_R_outline.png</key>
				<string>forearm_R_outline.png</string>
				<key>gun-belt.png</key>
				<string>gun-belt.png</string>
				<key>gun-holster.png</key>
				<string>gun-holster.png</string>
				<key>gun.png</key>
				<string>gun.png</string>
				<key>hair.png</key>
				<string>hair.png</string>
				<key>hand_L_outline.png</key>
				<string>hand_L_outline.png</string>
				<key>hand_R_outline.png</key>
				<string>hand_R_outline.png</string>
				<key>hat.png</key>
				<string>hat.png</string>
				<key>head.png</key>
				<string>head.png</string>
				<key>leg_lower_L_outline.png</key>
				<string>leg_lower_L_outline.png</string>
				<key>leg_lower_R_outline.png</key>
				<string>leg_lower_R_outline.png</string>
				<key>leg_upper_L_outline.png</key>
				<string>leg_upper_L_outline.png</string>
				<key>leg_upper_R_outline.png</key>
				<string>leg_upper_R_outline.png</string>
				<key>mouth.png</key>
				<string>mouth.png</string>
				<key>muzzleFlash.png</key>
				<string>muzzleFlash.png</string>
				<key>neck_outline.png</key>
				<string>neck_outline.png</string>
				<key>pelvis.png</key>
				<string>pelvis.png</string>
				<key>shoulder_L_outline.png</key>
				<string>shoulder_L_outline.png</string>
				<key>shoulder_R_outline.png</key>
				<string>shoulder_R_outline.png</string>
				<key>tennisBall.png</key>
				<string>tennisBall.png</string>
				<key>torso_outline.png</key>
				<string>torso_outline.png</string>
			</dict>
			<key>time</key>
			<real>0.00047707156045362353</real>
		</dict>
	</array>
	<key>spriteTransformFrames</key>
	<array>
		<dict>
			<key>time</key>
			<real>0.0</real>
			<key>transform</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<dict>
					<key>angle</key>
					<real>-4.3134384155273438</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{14, -15}</string>
					<key>position</key>
					<string>{12, 80}</string>
				</dict>
				<key>foot_LEFT.png</key>
				<dict>
					<key>angle</key>
					<real>38.393341064453125</real>
					<key>angleOff</key>
					<real>92.448226928710938</real>
					<key>connAngle</key>
					<real>12.602165222167969</real>
					<key>posOff</key>
					<string>{4, 0}</string>
					<key>position</key>
					<string>{-16, -37}</string>
				</dict>
				<key>foot_RIGHT.png</key>
				<dict>
					<key>angle</key>
					<real>-27.282493591308594</real>
					<key>angleOff</key>
					<real>86.02459716796875</real>
					<key>connAngle</key>
					<real>10.0872802734375</real>
					<key>posOff</key>
					<string>{4, -1}</string>
					<key>position</key>
					<string>{23, -37}</string>
				</dict>
				<key>forearm_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>11.768463134765625</real>
					<key>angleOff</key>
					<real>91.532829284667969</real>
					<key>connAngle</key>
					<real>77.498603820800781</real>
					<key>posOff</key>
					<string>{0, 9}</string>
					<key>position</key>
					<string>{19, 23}</string>
				</dict>
				<key>forearm_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>7.1386871337890625</real>
					<key>angleOff</key>
					<real>186.57774353027344</real>
					<key>connAngle</key>
					<real>-8.583984375</real>
					<key>posOff</key>
					<string>{1, 10}</string>
					<key>position</key>
					<string>{-32, 23}</string>
				</dict>
				<key>gun-belt.png</key>
				<dict>
					<key>angle</key>
					<real>1.7924575805664062</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{1, -10}</string>
					<key>position</key>
					<string>{0, 15}</string>
				</dict>
				<key>gun-holster.png</key>
				<dict>
					<key>angle</key>
					<real>1.7924575805664062</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{-12, -7}</string>
					<key>position</key>
					<string>{-12, 11}</string>
				</dict>
				<key>gun.png</key>
				<dict>
					<key>angle</key>
					<real>1.7924575805664062</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{-16, -12}</string>
					<key>position</key>
					<string>{-16, 16}</string>
				</dict>
				<key>hair.png</key>
				<dict>
					<key>angle</key>
					<real>-4.3134384155273438</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{5, -19}</string>
					<key>position</key>
					<string>{2, 83}</string>
				</dict>
				<key>hand_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-10.827888488769531</real>
					<key>angleOff</key>
					<real>91.382034301757812</real>
					<key>connAngle</key>
					<real>28.28668212890625</real>
					<key>posOff</key>
					<string>{2, 3}</string>
					<key>position</key>
					<string>{31, 21}</string>
				</dict>
				<key>hand_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-10.328292846679688</real>
					<key>angleOff</key>
					<real>178.4052734375</real>
					<key>connAngle</key>
					<real>-39.3154296875</real>
					<key>posOff</key>
					<string>{5, 4}</string>
					<key>position</key>
					<string>{-33, 8}</string>
				</dict>
				<key>hat.png</key>
				<dict>
					<key>angle</key>
					<real>-4.3134231567382812</real>
					<key>angleOff</key>
					<real>23.405136108398438</real>
					<key>connAngle</key>
					<real>-0.6160125732421875</real>
					<key>posOff</key>
					<string>{5, -33}</string>
					<key>position</key>
					<string>{2, 97}</string>
				</dict>
				<key>head.png</key>
				<dict>
					<key>angle</key>
					<real>-4.3134384155273438</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{6, -15}</string>
					<key>position</key>
					<string>{4, 79}</string>
				</dict>
				<key>leg_lower_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>44.764434814453125</real>
					<key>angleOff</key>
					<real>181.529052734375</real>
					<key>connAngle</key>
					<real>15.99365234375</real>
					<key>posOff</key>
					<string>{-4, 12}</string>
					<key>position</key>
					<string>{-13, -27}</string>
				</dict>
				<key>leg_lower_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-29.66119384765625</real>
					<key>angleOff</key>
					<real>184.20648193359375</real>
					<key>connAngle</key>
					<real>4.709320068359375</real>
					<key>posOff</key>
					<string>{-3, 10}</string>
					<key>position</key>
					<string>{13, -26}</string>
				</dict>
				<key>leg_upper_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>31.173721313476562</real>
					<key>angleOff</key>
					<real>177.68547058105469</real>
					<key>connAngle</key>
					<real>-2.9243621826171875</real>
					<key>posOff</key>
					<string>{0, 9}</string>
					<key>position</key>
					<string>{3, -5}</string>
				</dict>
				<key>leg_upper_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-42.527557373046875</real>
					<key>angleOff</key>
					<real>185.11367797851562</real>
					<key>connAngle</key>
					<real>-5.882843017578125</real>
					<key>posOff</key>
					<string>{1, 8}</string>
					<key>position</key>
					<string>{1, -4}</string>
				</dict>
				<key>mouth.png</key>
				<dict>
					<key>angle</key>
					<real>-4.3134384155273438</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{16, -5}</string>
					<key>position</key>
					<string>{14, 70}</string>
				</dict>
				<key>muzzleFlash.png</key>
				<dict>
					<key>angle</key>
					<real>-7.8966217041015625</real>
					<key>angleOff</key>
					<real>175.97360229492188</real>
					<key>connAngle</key>
					<real>-36.883758544921875</real>
					<key>posOff</key>
					<string>{27, 16}</string>
					<key>position</key>
					<string>{-19, -13}</string>
				</dict>
				<key>neck_outline.png</key>
				<dict>
					<key>angle</key>
					<real>10.3321533203125</real>
					<key>angleOff</key>
					<real>-0.91564178466796875</real>
					<key>connAngle</key>
					<real>-14.041770935058594</real>
					<key>posOff</key>
					<string>{-2, -7}</string>
					<key>position</key>
					<string>{-1, 61}</string>
				</dict>
				<key>pelvis.png</key>
				<dict>
					<key>angle</key>
					<real>1.7924575805664062</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{0, -4}</string>
					<key>position</key>
					<string>{0, 9}</string>
				</dict>
				<key>shoulder_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>17.144927978515625</real>
					<key>angleOff</key>
					<real>155.27517700195312</real>
					<key>connAngle</key>
					<real>10.718048095703125</real>
					<key>posOff</key>
					<string>{1, 13}</string>
					<key>position</key>
					<string>{8, 36}</string>
				</dict>
				<key>shoulder_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-3.5569305419921875</real>
					<key>angleOff</key>
					<real>225.50962829589844</real>
					<key>connAngle</key>
					<real>-38.1767578125</real>
					<key>posOff</key>
					<string>{-1, 13}</string>
					<key>position</key>
					<string>{-22, 41}</string>
				</dict>
				<key>tennisBall.png</key>
				<dict>
					<key>angle</key>
					<real>-1.52587890625e-05</real>
					<key>angleOff</key>
					<real>0.0</real>
					<key>connAngle</key>
					<real>37.828788757324219</real>
					<key>posOff</key>
					<string>{0, 0}</string>
					<key>position</key>
					<string>{-3, 16}</string>
				</dict>
				<key>torso_outline.png</key>
				<dict>
					<key>angle</key>
					<real>1.7924575805664062</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{3, -33}</string>
					<key>position</key>
					<string>{1, 38}</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>totalTime</key>
	<real>1</real>
	<key>visibilityFrames</key>
	<array>
		<dict>
			<key>sprites</key>
			<dict>
				<key>angry_mouth.png</key>
				<true/>
				<key>eyes_ANGRY.png</key>
				<true/>
				<key>foot_LEFT.png</key>
				<true/>
				<key>foot_RIGHT.png</key>
				<true/>
				<key>forearm_L_outline.png</key>
				<true/>
				<key>forearm_R_outline.png</key>
				<true/>
				<key>gun-belt.png</key>
				<true/>
				<key>gun-holster.png</key>
				<true/>
				<key>gun.png</key>
				<true/>
				<key>hair.png</key>
				<true/>
				<key>hand_L_outline.png</key>
				<true/>
				<key>hand_R_outline.png</key>
				<true/>
				<key>hat.png</key>
				<true/>
				<key>head.png</key>
				<true/>
				<key>leg_lower_L_outline.png</key>
				<true/>
				<key>leg_lower_R_outline.png</key>
				<true/>
				<key>leg_upper_L_outline.png</key>
				<true/>
				<key>leg_upper_R_outline.png</key>
				<true/>
				<key>muzzleFlash.png</key>
				<false/>
				<key>neck_outline.png</key>
				<true/>
				<key>pelvis.png</key>
				<true/>
				<key>shoulder_L_outline.png</key>
				<true/>
				<key>shoulder_R_outline.png</key>
				<true/>
				<key>tennisBall.png</key>
				<false/>
				<key>torso_outline.png</key>
				<true/>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>zOrderFrames</key>
	<array>
		<dict>
			<key>sprites</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<integer>16</integer>
				<key>foot_LEFT.png</key>
				<integer>5</integer>
				<key>foot_RIGHT.png</key>
				<integer>8</integer>
				<key>forearm_L_outline.png</key>
				<integer>1</integer>
				<key>forearm_R_outline.png</key>
				<integer>22</integer>
				<key>gun-belt.png</key>
				<integer>10</integer>
				<key>gun-holster.png</key>
				<integer>14</integer>
				<key>gun.png</key>
				<integer>13</integer>
				<key>hair.png</key>
				<integer>18</integer>
				<key>hand_L_outline.png</key>
				<integer>2</integer>
				<key>hand_R_outline.png</key>
				<integer>20</integer>
				<key>hat.png</key>
				<integer>19</integer>
				<key>head.png</key>
				<integer>15</integer>
				<key>leg_lower_L_outline.png</key>
				<integer>4</integer>
				<key>leg_lower_R_outline.png</key>
				<integer>7</integer>
				<key>leg_upper_L_outline.png</key>
				<integer>3</integer>
				<key>leg_upper_R_outline.png</key>
				<integer>6</integer>
				<key>mouth.png</key>
				<integer>17</integer>
				<key>muzzleFlash.png</key>
				<integer>23</integer>
				<key>neck_outline.png</key>
				<integer>11</integer>
				<key>pelvis.png</key>
				<integer>9</integer>
				<key>shoulder_L_outline.png</key>
				<integer>0</integer>
				<key>shoulder_R_outline.png</key>
				<integer>21</integer>
				<key>tennisBall.png</key>
				<integer>24</integer>
				<key>torso_outline.png</key>
				<integer>12</integer>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
	</array>
</dict>
</plist>
